.container {
    height: 200%;
    display: grid;
    grid-template: 
    "title" minmax(50%, 1fr)
    "page-content" 1fr;

    .title {
        grid-area: title;
        @media screen and (max-width: 680px) {
            align-self:center;
        }
    }

    .page-content {
        grid-area: page-content;

        display: grid;
        align-items: center;
        justify-items: center;
        gap: 3vh;
        grid-template: 
        "contact-content"
        "map"
        ".";

        .map {
            grid-area: map;
            @media screen and (max-width: 680px) {
                display: none;
            }
        }

        .mobile-map {
            display: none;
            @media screen and (max-width: 680px) {
                display: block;
                grid-area: map;
            }
        }

        .contact-content {
            grid-area: contact-content;

            width: 100%;
            max-width: 1200px;
            display: grid;
            grid-template:
            "c-details c-form" 1fr / 1fr 2fr;

            @media screen and (max-width: 680px) {
                grid-template:
                "c-details"
                "c-form";
            }

            .c-details {
                grid-area: c-details;
                padding: 1em;
                background: rgb(5, 158, 112);
            }

            ul {
                list-style: none;
            }
    
            .c-form {
                grid-area: c-form;
                background: rgba(242, 242, 242, 0.5);
                padding: 1em;
    
                form {
                    display: grid;
                    gap: 2vw;
                    grid-template-columns: 1fr 1fr;

                    @media screen and (max-width: 680px) {
                        grid-template-columns: 1fr;
                    }
                    
                    label {
                        display: block;
                    }

                    .full-width {
                        grid-column: 1 / 3;

                        @media screen and (max-width: 680px) {
                            grid-column: 1 / 2;
                        }
                    }
    
                    input, button, textarea {
                        width: 100%;
                        padding: 1em;
                    }
                }
            }
        }
    }
}

