@use "src/app/shared/styles/screen";
@use "src/app/shared/styles/colour";

.container {
    height: 200%;
    display: grid;
    grid-template: 
    "title" minmax(50%, 1fr)
    "page-content" 1fr;

    .title {
        grid-area: title;
        @include screen.phone {
            align-self:center;
        }
    }

    .page-content {
        grid-area: page-content;

        display: grid;
        align-items: center;
        justify-items: center;
        gap: 3vh;
        grid-template: 
        "contact-content"
        "map"
        ".";

        .map {
            grid-area: map;
            @include screen.phone {
                display: none;
            }
        }

        .mobile-map {
            display: none;
            @include screen.phone {
                display: block;
                grid-area: map;
            }
        }

        .contact-content {
            grid-area: contact-content;

            width: 100%;
            max-width: 1200px;
            display: grid;
            grid-template:
            "c-details c-form" 1fr / 1fr 2fr;

            @include screen.phone {
                grid-template:
                "c-details"
                "c-form";

                row-gap: 2vh;
            }

            .c-details {
                grid-area: c-details;
                padding: 1em;
                background: colour.GetDarkBackground(colour.$primary);
            }

            ul {
                list-style: none;
            }
    
            .c-form {
                grid-area: c-form;
            }
        }
    }
}

