<div class="container">
    <page-title class="title" [pageName]="pageName" pageTitleId="1"></page-title>
    <div class="gallery">
        <div class="photo1">
            <editorc [pageName]="pageName" editorId="2" [optionsType]="captionOptionsType"></editorc>
        </div>
        <div class="photo2">
            <editorc [pageName]="pageName" editorId="3" [optionsType]="captionOptionsType"></editorc>
        </div>
        <div class="photo3">
            <editorc [pageName]="pageName" editorId="4" [optionsType]="captionOptionsType"></editorc>
        </div>
        <div class="photo4">
            <editorc [pageName]="pageName" editorId="5" [optionsType]="captionOptionsType"></editorc>
        </div>
        <div class="photo5">
            <editorc [pageName]="pageName" editorId="6" [optionsType]="captionOptionsType"></editorc>
        </div>
        <div class="photo6">
            <editorc [pageName]="pageName" editorId="7" [optionsType]="captionOptionsType"></editorc>
        </div>
        <div class="photo7">
            <editorc [pageName]="pageName" editorId="8" [optionsType]="captionOptionsType"></editorc>
        </div>
        <div class="photo8">
            <editorc [pageName]="pageName" editorId="9" [optionsType]="captionOptionsType"></editorc>
        </div>
    </div>
</div>