@use "src/app/shared/styles/screen";

.container {
    display: grid;
    gap: 2vw 2vh;
    align-items: center;
    grid-template: 
    "page-title page-title"
    "card1 image1"
    "card2 image1" / 1fr 2fr;

    @include screen.phone {
        grid-template:
        "page-title"
        "card1"
        "image1"
        "card2";
    }

    .title {
        grid-area: page-title;

        padding-bottom: 3rem;
        text-align: center;
        justify-self: center;
    }

    .card1{
        grid-area: card1;
        height: 100%;
    }

    .card2{
        grid-area: card2;
    }

    .image {
        max-height: 60vh;
        @include screen.phone {
            max-height: auto;
            min-width: 100%;
        }
        grid-area: image1;
        justify-self: center;
    }
}