.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
    transition: 0.3s;
    padding: 5%;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .hl {
        display: inline-block;
        width: 30%;
        margin-bottom: 5px;
    }
}