@use "src/app/shared/styles/colour";
@use "src/app/shared/styles/screen";

.container {
    height: 100%;
    display: grid;
    gap: 2vh;
    grid-template: 
    "title ." 1fr
    "user-management user-management" 3fr;

    @include screen.portable-device {
        grid-template: 
        "title ." auto
        "user-management" 1fr;
    }

    .title {
        grid-area: title;
        justify-self: center;
        position: sticky;
        left: 0;
    }

    .user-management {
        grid-area: user-management;
        display: grid;
        gap: 2vw;
        grid-template: 
        "management-table user-form" / auto minmax(40px, auto);

        @include screen.portable-device {
            grid-template:
            "management-table"
            "user-form";
        }

        .btn {
            margin: -16px;
            padding: 16px;
            cursor: pointer;

            &.warn:hover {
                background-color: colour.$darkBackground;
                color: colour.$tertiary;
            }
            
            &.happy:hover {
                background-color: colour.$darkBackground;
                color: colour.$primary;
            }
        }

        table {
            grid-area: management-table;
            justify-self: center;
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            color: colour.$lightText;
        
            th, td {
                text-align: left;
                padding: 16px;
            }
                
            tr {
                &:nth-child(even)
                {
                    background-color: colour.$lightBackground;
                }
        
                &:nth-child(odd)
                {
                    background-color: colour.GetDarkBackground(colour.$primary);
                }
            }
        }
    
        .controls {
            grid-area: user-form;
            align-self: start;
            position: sticky;
            left: 0;
            max-width: 94vw;
            padding-right: 2px;
        }
    }

    
}


  

