.backgroundImage {
    background-image: url("shared/images/blue_lake_man_background.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-height: 100vh;
    height: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    display: grid;
    grid-template: 
    "navbar" 10vh 
    "router-outlet" 86vh
    "footer" 4vh / auto;

    .navbar {
        grid-area: navbar;
    }
    
    .router-outlet {
        grid-area: router-outlet;
        justify-self: center;
        overflow: auto;
        width: 100%;
        max-width: 1920px;
    }

    footer {
        grid-area: footer;
        text-align:center;
        color: white;
        padding: 1em;

        h4, a {
            vertical-align: middle;
            display: inline-block;
            margin-right: 1rem;
        }
    }
}

