<div class="backgroundImage">
    <div class="wrapper">
        <navbar class="navbar"></navbar>
        <div class="router-outlet">
            <router-outlet></router-outlet>
        </div>
        <footer>
            <h4 class="copyright">Copyright © 2021 · Skylab Design</h4>
            <a class="facebook" href="https://www.facebook.com/">
                <img src="../assets/icons/social/facebook.png" width="25px">
            </a>
            <a class="instagram" href="https://www.instagram.com/">
                <img src="../assets/icons/social/instagram.png" href="https://www.instagram.com/" width="25px">
            </a>
            <a class="linkedin" href="https://www.linkedin.com/">
                <img src="../assets/icons/social/linkedin.png" href="https://www.linkedin.com/" width="25px">
            </a>
            <a class="twitter" href="https://www.twitter.com/">
                <img src="../assets/icons/social/twitter.png" href="https://www.twitter.com/" width="25px">
            </a>
        </footer>
    </div>
</div>



