.backgroundImage {
    background-image: url("shared/images/blue_lake_man_background.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;

}