@use "src/app/shared/styles/colour";
@use "src/app/shared/styles/screen";

form {
    display: grid;
    gap: 2vw;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    background-color: colour.$lightBackground;;
    @include screen.phone {
        grid-template-columns: 1fr;
    }

    .warn {
        color: colour.$tertiary;
        background-color: colour.$darkBackground;
    }
    
    label {
        display: block;
    }

    .full-width {
        grid-column: 1 / 3;

        @include screen.phone {
            grid-column: 1 / 2;
        }
    }

    button {
        background-color: colour.GetLight(colour.$tertiary);
    }

    input, button, textarea {
        width: 100%;
        padding: 1em;
    }
}