.container {
    height: 600%;
    display: grid;
    grid-template: 
    "title" minmax(17%, 1fr)
    "page-content" 5fr;

    .title {
        grid-area: title;
        @media screen and (max-width: 680px) {
            align-self: center;
        }
    }

    .content {
        grid-area: page-content;
        display: grid;
        align-items: center;
        grid-template:
        "graphic-design" 1fr
        "photography" 1fr
        "website-design" 1fr
        "branding" 1fr
        "social-media" 1fr ;

        graphics-design{
            grid-area: graphic-design;
        }
    }
}