<div class="container">
    <page-title class="title" [pageName]="pageName" pageTitleId="1"></page-title>
    <div class="content">
        <service-subpage backgroundColour="primary" page="graphicDesign" imageSrc="https://api.ws311471.remote.ac/images/office/finally_free.jpg"></service-subpage>
        <service-subpage backgroundColour="secondary" page="photography" imageSrc="https://api.ws311471.remote.ac/images/land/man_water.jpg"></service-subpage>
        <service-subpage backgroundColour="tertiary" page="websiteDesign" imageSrc="https://api.ws311471.remote.ac/images/office/desktop_mac_blinds.jpg"></service-subpage>
        <service-subpage backgroundColour="quaternary" page="branding" imageSrc="https://api.ws311471.remote.ac/images/vintage_camera.jpg"></service-subpage>
        <service-subpage backgroundColour="quinary" page="socialMedia" imageSrc="https://api.ws311471.remote.ac/images/city/people_street.jpg"></service-subpage>
    </div>
</div>