

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}
.hl {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.container {
    min-height: 200%;
    display: grid;
    grid-template: 
    ". pageName ." 1fr
    ". gallery ." 9fr
    "secondPage secondPage secondPage" 10fr /auto 50vw auto;
    column-gap: 3vw;
    row-gap: 3vh;

    .pageName {
        text-align: center;
        grid-area: pageName;
    }

    .gallery {
        grid-area: gallery;
        max-width: 1200px;
        justify-self: center;
    }

    .secondPage {
        grid-area: secondPage;
        display: grid;
        column-gap: 3vw;
        place-items: center;
        grid-template: 
        "title title title"
        "card1 card2 card3";
        .title {
            grid-area: title;
        }
        [class*="card"] {
            align-self: start;
          }
        .card1 {
            grid-area: card1;
        }
        
        .card2 {
            grid-area: card2;
        }
        
        .card3 {
            grid-area: card3;
        }
    }
}