<div class="container">
        <h1 class="pageName">
                <editorc [pageName]="pageName" editorId="4" [initOptions]="pageNameOptions"></editorc>
        </h1>
        <slideshow-gallery class="gallery"></slideshow-gallery>
        <div class="secondPage">
                <div class="title">
                        <h1>
                                <editorc [pageName]="pageName" editorId="5" [initOptions]="pageNameOptions"></editorc>
                        </h1>
                        <div class="hl"></div>
                </div>
                <editor-card [pageName]="pageName" cardId="1" class="card1">This is some filler text for the supportive card</editor-card>
                <editor-card [pageName]="pageName" cardId="2" class="card2">This is some filler text for the supportive card</editor-card>
                <editor-card [pageName]="pageName" cardId="3" title="Supportive" class="card3">This is some filler text for the supportive card</editor-card>
        </div>
</div>

