<h1>Home Page</h1>
<div class="row mt-3 fp-height">
    <div class="col-6">
        <slideshow-gallery class="content-center"></slideshow-gallery>
    </div>
</div>
<div class="row mt-3 fp-height">
    <div style="text-align: center" class="col-4">
        <editor-card title="Supportive">This is some filler text for the supportive card</editor-card>
    </div>
    <div class="col-4">
        <editor-card title="Supportive">This is some filler text for the supportive card</editor-card>
    </div>
    <div class="col-4">
        <editor-card title="Supportive">This is some filler text for the supportive card</editor-card>
    </div>
</div>

