@use "src/app/shared/styles/colour";

.topnav {
    overflow: hidden;
    padding-right: 20px;
}
  
a {
  border-radius: 5px;
  float: right;
  color: colour.$lightText;
  text-align: center;
  padding: 14px 16px;
  margin: 10px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  &:hover{
    background-color: colour.$quaternary;
    color: colour.$darkText;
  }
  &.active{
    background-color: colour.GetDark(colour.$primary);
    color: colour.$lightText;
  }
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 790px) {
  .topnav {
     padding: 10px 10px !important;
  }
  a {
    display: none;
    margin: 0;
  }
  .burger-menu {
    float: none;
    display: block;
  }
  a.show {
    float: none;
    display: block;
    text-align: left;
  }
}