<div (click)="buttonAction()">
<a [ngClass]="{'show': showMobileMenu}">{{ buttonName }}</a>
</div>
<div class="modal" id="loginForm" [style.display]="isVisible ? 'block' : 'none'">
    <div class="login-form modal-content animate">
        <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
            <span class="close" title="Close Login" (click)="isVisible = false">&times;</span>
            <label>
                Username:
                <input type="text" formControlName="username">
                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                    <div *ngIf="username.errors.required" class="warn">
                        Username is required.
                    </div>
                </div>
            </label>
            <label>
                Password:
                <input type="password" formControlName="password">
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required" class="warn">
                        Password is required.
                    </div>
                </div>
            </label>
            <button type="submit" [ngClass]="{ 'disabled-button': !loginForm.valid }" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
</div>

