/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "firasans";
  src: url("/assets/fonts/Fira_Sans/FiraSans-Regular.ttf");
}

.image {
  width: auto;
  max-width: 50vw;
  height: auto;
  max-height: 70vh;
}

* {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "firasans";

  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: auto;

  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 12px;
  }
  
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    //border: 3px solid orange;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;
    //border: 3px solid orange;
  }
}

.row{
  @media only screen and (min-width: 600px) {
    /* For tablets: */

  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
  }
}