<div class="container">
    <page-title class="title" [pageName]="pageName" pageTitleId="1"></page-title>
    <div class="content">
        <editor-card [pageName]="pageName" cardId="2" class="card1"></editor-card>
        <div class="image1">
            <img class="image" src="https://api.ws311471.remote.ac/images/office/desktop_man_working.jpg">
        </div>
        <editor-card [pageName]="pageName" cardId="3" class="card2"></editor-card>
        <div class="image2">
            <img class="image" src="https://api.ws311471.remote.ac/images/office/passion_and_drive.jpg">
        </div>
        <editor-card [pageName]="pageName" cardId="4" class="card3"></editor-card>
        <div class="image3">
            <img class="image" src="https://api.ws311471.remote.ac/images/office/desktop_glasses_pencil.jpg">
        </div>
    </div>
</div>