.container {
    height: 400%;
    display: grid;
    grid-template: 
    "title" minmax(25%, 1fr)
    "page-content" 3fr;

    .title {
        grid-area: title;
        @media screen and (max-width: 680px) {
            align-self: center;
        }
    }

    .content {
        grid-area: page-content;
        display: grid;
        gap: 2vw 2vh;
        place-items: center;
        grid-template:
        "card1 image1 image1"
        "image2 image2 card2"
        "card3 image3 image3" / 1fr 1fr 1fr;

        @media screen and (max-width: 680px) {
            grid-template:
            "card1"
            "image1"
            "card2"
            "image2"
            "card3"
            "image3";
        }

        [class*="image"] {
            place-self: center;
        }

        [class*="card"] {
            align-self: center;
        }

        .card1{
            grid-area: card1;
        }

        .card2 {
            grid-area: card2;
        }

        .card3 {
            grid-area: card3;
        }

        .image1 {
            grid-area: image1;
        }
        
        .image2 {
            grid-area: image2;
        }
        
        .image3 {
            grid-area: image3;
        }
    }
}
